<footer class="fixed-bottom text-white">
  <div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <h5 class="p-3">code with Dhruv</h5>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <h5 class="p-3">About us</h5>
                <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ex rerum, veritatis neque quam placeat, odit laborum esse corporis exercitationem labore architecto ipsum eum ratione perferendis nesciunt molestiae adipisci ad.</p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <h5 class="p-3">Follow us</h5>
            </div>
        </div>
    </div>
  </div>
</footer>
