.privacy-policy{
  padding:60px 20px;
  background:var(--background-bg);
  color: white;
}

.privacy-policy .container{
  max-width:900px;
  margin:auto;
  line-height:1.8;
}

.privacy-policy h1{
  font-size:42px;
  margin-bottom:20px;
}

.privacy-policy h2{
  margin-top:35px;
  font-size:28px;
}

.privacy-policy ul{
  padding-left:20px;
}
