<nav class="navbar navbar-expand-lg   mb-4 ">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Code With Dhruv</a>

    <!-- Toggle Button for Offcanvas (visible on mobile) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Normal Navbar Items (visible on large screen) -->
    <div class="collapse navbar-collapse d-none d-lg-block">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/box-shadow">Box-Shadow css</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/color-picker">Color-Picker</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/color-shades">Color-Shades</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/calculator">Calculator</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/digital-clock">Digital Clock</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Offcanvas Menu (visible on mobile) -->
<div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="mobileMenu">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Menu</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>

  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" data-bs-dismiss="offcanvas">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" data-bs-dismiss="offcanvas">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" data-bs-dismiss="offcanvas">Contact</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" routerLink="/box-shadow" data-bs-dismiss="offcanvas">Box-Shadow css</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/color-picker" data-bs-dismiss="offcanvas">Color-Picker</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="/color-shades" data-bs-dismiss="offcanvas">Color-Shades</a>
        </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/calculator" data-bs-dismiss="offcanvas">Calculator</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/digital-clock" data-bs-dismiss="offcanvas">Digital Clock</a>
      </li>
    </ul>
  </div>
</div>
