html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.page-not-found {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: var(--background-bg);

  color: white;
}

.place-items-center {
  display: grid;
  place-items: center;
}


.btn {
  z-index: 1;
  border: 1px solid #fbb03b;
  background-color: oklch(25% .05 260);
  padding: 12px 24px; /* 🔥 fix */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 14px #f56a0075;
  color: #fbb03b;
  border-radius: 8px;
}

.btn:hover {
  color: white;
}

/* footer hover */
ul li a:hover {
  color: #f77c17;
}
