<div class="main mt-5">
  <div class="container">



    <div class="row g-4">
      <h1 class="text-center text-white fw-bolder" style="font-size: 3rem">Developer Tools and Code Generators</h1>

      <p class="text-center text-white fw-bolder " style="font-size: 1.2rem; margin: 0 20px">
        Explore a free collection of web development tools and generators to speed up your workflow.
        Create CSS effects, shadows, gradients and copy ready-to-use code with live preview instantly.
      </p>
      <div class="col-md-4">
        <!-- tool-card -->
        <div class="tool-card">

          <div class="tool-preview">
            <div class="demo-box">
              Box
            </div>
          </div>

          <div class="tool-content">

            <h3 class="tool-title">
              Box Shadow CSS Generator Online
            </h3>

            <p class="tool-desc">
              Create beautiful box shadow effects and copy ready-to-use CSS for cards,
              buttons and modern UI components.
            </p>

            <a routerLink="/box-shadow" class="tool-btn">
              Try Tool
              <span>→</span>
            </a>

          </div>

        </div>
      </div>
      >

    </div>

  </div>
</div>
