<div class="container mt-5">
  <div class="row g-4">
    <div class="col-12 col-sm-12 col-md-3" *ngFor="let item of BoxShadowData let i = index">
      <div class="card  rounded-3 mb-5 mt-5" [ngStyle]="{'box-shadow': item.css}">
        <div class="card-body">
          <div class="text-center">
            <p class="mb-0 text-dark font-bold">{{i+1 }}</p>
          </div>
          <div class="text-center">

        <button
            class="btn   mt-2"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i"
            [attr.aria-controls]="'collapse' + i"
            (click)="copyToClipboard(item.css)">
           View

          </button>

<div class="collapse mt-2" [id]="'collapse' + i">
  <div>
    <code #codeRef>{{ item.css }}</code>
    <!-- <button (click)="copyToClipboard(item.css)" class="btn btn-sm btn-outline-secondary ms-2">
      Copy
    </button> -->
  </div>
</div>

      </div>
        </div>
      </div>
    </div>
  </div>
</div>

