

<div class="main mt-5">
  <!--  first section -->
  <div class="container mt-5 mb-5">
    <div class="row mt-5">
      <h2 class="text-center">About Us</h2>
      <div class="col-md-6 col-sm-12">
        <h2><strong>👋 Hey Developers !</strong></h2>
        <p>
          Discover free developer tools, CSS generators and frontend projects designed to help you build faster. Use live previews, generate code instantly and explore practical resources for modern web development.
        </p>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="justify-content-center d-flex align-content-center">
          <img  src="assets/software-developer-coding-laptop.jpg"  style="    color: transparent; width: 100%;  max-width: 350px; height: auto; border-radius: 1rem;" class="">
        </div>
      </div>
    </div>
  </div>

  <!--  second section-->

  <div class="container mt-5 mb-5">
    <div class="row g-4">
      <h2 class="text-center fw-bolder">What We Offer</h2>
      <p class="text-center">Comprehensive resources to help you ace your frontend interviews</p>
      <div class="col-md-6 col-lg-4 col-sm-12">
        <div class="main-box-pink box">
          <div class="head">
            <div class="icon">
              <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                <path class="text-danger" d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
              </svg>
              <span class="span">YouTube Videos</span>
            </div>

            <div>
              <h5 style="color: #f490e9;" class="fw-bolder" > Coming Soon</h5>
            </div>
          </div>
          <p>Excellent Video Tutorials & Explanation</p>
        </div>
      </div>



      <!-- CSS Tools Column -->
      <div class="col-md-6 col-lg-4 col-sm-12" routerLink="/tools">
        <div class="main-box-blue box">
          <div class="head">
            <div class="icon">
              <!-- Tool Icon -->
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#38bdf8" viewBox="0 0 16 16">
                <path d="M3 0h10l-1 14-4 2-4-2L3 0z"/>
              </svg>
              <span class="span">CSS Tools</span>
            </div>

            <div routerLink="/tools">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#90cdf4" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
              </svg>
            </div>
          </div>
          <p>Useful tools like Flexbox Generator, Grid Builder & Animations</p>
        </div>
      </div>


      <!-- HTML CSS Projects Column -->
      <div class="col-md-6 col-lg-4 col-sm-12" routerLink="/projects">
        <div class="main-box-orange box">
          <div class="head">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#f4d490" viewBox="0 0 16 16">
                <path d="M2 2h12v12H2z"/>
              </svg>
              <span class="span">HTML & CSS Projects</span>
            </div>

            <div routerLink="/projects">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#f4d490" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
              </svg>
            </div>
          </div>
          <p>Build real-world projects like landing pages, portfolios & UI components</p>
        </div>
      </div>


    </div>
  </div>
</div>
