body {
  margin: 0;
  background-color: #060715;
}


:root {
  //--background-bg: linear-gradient(135deg, oklch(15% .04 260), oklch(25% .05 260), oklch(20% .06 280));

  --background-bg:  #060715;
  --btn-text: #ffffff;
  --btn-radius: 8px;
  --color:#fbb03b;
  --border-color: 2px solid #fbb03b;
  --box-shadow: 0 5px 14px #f56a0075;
}
