
<div class="page-wrapper">
  <div class="container">
    <h2 class="mt-5">How to Build a Simple Calculator with HTML and CSS (Source Code Included)</h2>
    <p>Learn how to build a simple calculator using HTML and CSS with ready-to-use source code and live preview. This beginner-friendly frontend project helps you understand layout, styling and basic calculator design.</p>
  <div class="row mt-5">
    <p>
      To create this Calculator, first you need to create two files: an <strong>HTML file</strong> and a <strong>CSS file</strong>. After creating these files, just copy the given source code and paste it into your text editor. Then you can edit and customize the code according to your requirements. This simple calculator project is perfect for beginners to practice HTML and CSS.
    </p>
    <h2># HTML CODE</h2>
    <p> First, Create a index.html file and paste this html code in your file</p>
    <div class="col-md-8">
<div class="code-card">

  <!-- Header -->
  <div class="code-header">
    <span class="file-name">index.html</span>

    <div class="d-flex gap-3 align-items-center">
      <p class="preview-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Preview
      </p>

      <svg (click)="copyCode(htmlCode)"
        xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"  fill="#ffff"     style="cursor: pointer;"   >
           <path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/>
       </svg>
    </div>
  </div>

  <!-- Code -->
  <pre class="code-block">{{ htmlCode }}</pre>

</div>

    </div>

    <!-- css code -->
     <h2># CSS CODE</h2>
    <p> First, Create a style.css file and paste this css code in your file</p>
    <div class="col-md-8">
      <div class="code-card">
        <div class="code-header">
             <span class="file-name">style.css</span>
                <div class="d-flex gap-3 align-items-center">
                    <p class="preview-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Preview
                    </p>
                      <svg (click)="copyCode(cssCode)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"  fill="#ffff"     style="cursor: pointer;"   >
                         <path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/>
                      </svg>
                </div>
        </div>
            <pre> {{ cssCode }}</pre>
      </div>

    </div>
    <div class="col-8">
      <p>
        Congratulations, your Calculator project is now complete using HTML and CSS. If you run into any errors or have trouble with the code, feel free to use the download button to get the source code and check your setup. Hope you found this tutorial useful and learned something new from this project.
      </p>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">calculator</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <div class="preview-box">
            <iframe [srcdoc]="safePreview"></iframe>
          </div>
      </div>

    </div>
  </div>
</div>
</div>
