<section class="hero">
  <div class="hero-content"  data-aos="fade-up">
<!--    <h1>Free Developer Tools</h1>-->
    <h1  >Build Faster With Free <br>CSS Tools and <br> HTML/CSS Projects</h1>
    <p class="container" >Generate colors, buttons,
      gradients, border-radius-styles CSS buttons & explore ready-made
      Projects & simple tools — copy & use instantly</p>

      <div class="d-flex justify-content-center gap-4" >
        <button routerLink="/tools" class="btn-glow">
          Explore Tools
        </button>

        <button routerLink="/projects" class="btn-glow">
          View Projects
        </button>
      </div>
  </div>
</section>

<section class="tools"  data-aos="fade-up">
  <h2 >Popular Tools</h2>

  <div class="tools-grid">

    <div class="tool-card" routerLink="/box-shadow">
      <h3>Box Shadow</h3>
      <p>Create beautiful shadows</p>
    </div>

    <div class="tool-card" routerLink="/color-picker">
      <h3>Color Picker</h3>
      <p>Pick perfect colors</p>
    </div>

    <div class="tool-card" routerLink="/color-shades">
      <h3>Color Shades</h3>
      <p>Explore color variations</p>
    </div>

  </div>
</section>



<section class="why"  data-aos="fade-up">
  <h2>Why Choose Us</h2>

  <div class="why-grid">
    <div>⚡ Fast Tools</div>
    <div>🎯 Easy to Use</div>
    <div>💰 Free Forever</div>
  </div>
</section>




<!--contact form-->

<div id="contact" class="contact-form" data-aos="fade-up">
  <div class="container">
    <div class="row text-center">
      <h1 class="fw-bolder text-white ">Contact Us</h1>

      <h4 class="fw-bolder text-color-accent">
        Want to know more about us, tell us about your project or just say hello?
        <br />
        Drop us a line and we’ll get back to you soon.
      </h4>

      <form class="form" action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="d019ab9d-9c30-4134-911e-e49453b914da">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" placeholder="Enter your name" required />
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" placeholder="Enter your email" required />
        </div>

        <div class="form-group">
          <label>Phone</label>
          <input type="tel" name="phone" placeholder="Enter your phone number" />
        </div>

        <div class="form-group">
          <label>Message</label>
          <textarea name="message" rows="5" placeholder="Write your message..." required></textarea>
        </div>

        <button type="submit" class="btn-submit">Send Message</button>
      </form>
    </div>
  </div>
</div>
