<section class="hero">
  <div class="hero-content"  data-aos="fade-up">
<!--    <h1>Free Developer Tools</h1>-->
    <h1  >Build Faster With Free <br>CSS Tools and <br> HTML/CSS Projects</h1>
    <p class="container" >Generate colors, buttons,
      gradients, border-radius-styles CSS buttons & explore ready-made
      Projects & simple tools — copy & use instantly</p>

      <div class="d-flex justify-content-center gap-4" >
        <button routerLink="/tools" class="btn-glow">
          Explore Tools
        </button>

        <button routerLink="/projects" class="btn-glow">
          View Projects
        </button>
      </div>
  </div>
</section>

<section class="tools"  data-aos="fade-up">
  <h2 >Popular Tools</h2>

  <div class="tools-grid">

    <div class="tool-card" routerLink="/box-shadow">
      <h3>Box Shadow</h3>
      <p>Create beautiful shadows</p>
    </div>

    <div class="tool-card" routerLink="/color-picker">
      <h3>Color Picker</h3>
      <p>Pick perfect colors</p>
    </div>

    <div class="tool-card" routerLink="/color-shades">
      <h3>Color Shades</h3>
      <p>Explore color variations</p>
    </div>

  </div>
</section>


<!--Why choose us section-->
<section>
  <div class="main why-choose py-5">
    <div class="container">
      <div class="row g-4 text-center">

        <h1 class="fw-bold text-white">Why Choose This Platform?</h1>
        <p class="text-secondary ">
          The ultimate platform to get frontend tools and projects with structured resources,
          accurate content, without any barrier in learning.
        </p>

        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let data of features">
          <div class="card custom-card p-4 h-100">

            <!-- Bootstrap SVG Icon -->
            <div class="icon mb-3">
              <svg *ngIf="data.id==1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#f56a00" class="bi bi-body-text" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5m0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
              </svg>

              <svg *ngIf="data?.id==2" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#f56a00" class="bi bi-code" viewBox="0 0 16 16">
                <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8z"/>
              </svg>

              <svg *ngIf="data?.id==3" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#f56a00" class="bi bi-border-width" viewBox="0 0 16 16">
                <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5"/>
              </svg>

              <svg *ngIf="data?.id==4" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#f56a00" class="bi bi-shield-shaded" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 14.933a1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
              </svg>
            </div>

            <h3 class="fw-bold text-white">{{ data?.title }}</h3>
            <p class="text-secondary">{{ data.description }}</p>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<!--contact form-->

<div id="contact" class="contact-form" data-aos="fade-up">
  <div class="container">
    <div class="row text-center">
      <h1 class="fw-bolder text-white ">Contact Us</h1>

      <h4 class="fw-bolder text-color-accent">
        Want to know more about us, tell us about your project or just say hello?
        <br />
        Drop us a line and we’ll get back to you soon.
      </h4>

      <form class="form" action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="d019ab9d-9c30-4134-911e-e49453b914da">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" placeholder="Enter your name" required />
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" placeholder="Enter your email" required />
        </div>

        <div class="form-group">
          <label>Phone</label>
          <input type="tel" name="phone" placeholder="Enter your phone number" />
        </div>

        <div class="form-group">
          <label>Message</label>
          <textarea name="message" rows="5" placeholder="Write your message..." required></textarea>
        </div>

        <button type="submit" class="btn-submit">Send Message</button>
      </form>
    </div>
  </div>
</div>
